img {
  max-width: 100%;
}

:root {
  --loading-grey: #ededed;
}

a,
a:hover {
  text-decoration: none !important;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4,
.text-xxl {
  font-size: 20px;
}

h5,
.text-lg {
  font-size: 18px;
}

h6,
p,
ul,
li,
a,
span{
  font-size: 16px;
}

.text-base {
  font-size: 16px !important;
}

.text-14,
.text-sm {
  font-size: 14px !important;
}

.text-primary,
.primary_tex,
.outlin_blue_but {
  color: #0B326D;
}

.text-primary-dark {
  color: #0B2A5A;
}

.text-primary-light{
  color: #C6D5E1;
}

.text-primary-lite {
  color: #EBF3F9;
}

.text-secondary,
.outlin_oran_but,
.oran_tex,
a:hover,
a {
  color: #FF663E;
}

.text-dark,
.nav-item a {
  color: #111111;
}

.text-dark-lite {
  color: #333333;
}

.text-lite,
.menu-sm li a:hover i,
.menu-sm li a.active i,
.primary-border:hover,
.primary_border:hover,
.bg_blue,
.oran_but:focus,
.outlin_blue_but:hover,
.outlin_oran_but:hover,
.asset_but:focus,
.remo_inter_but:hover,
.oran_bg,
.offcan_but:hover,
.btn-secondary {
  color: #ffffff;
}

.text-grey,
.oran_but {
  color: #6C757D;
}

.text-success,
.verif_tex {
  color: #51d201;
}

.text-danger,
.remo_inter_but {
  color: #CC3300;
}

.bg-primary,
.primary-border:hover,
.primary_border:hover,
.bg_blue,
.outlin_blue_but:hover,
.asset_but:focus {
  background-color: #0B326D;
}

.btn-primary-outline {
  border: 2px solid #0B326D !important;
  color: #0B2A5A !important;
  background-color: transparent;
}

.bg-primary-dark,
.bulletlist,
.bg_dark_blue,
.btn-primary:focus {
  background-color: #0B2A5A;
}

.bg-primary-lite,
.unread,
.lite_blue {
  background-color: #EBF3F9;
}

.bg-secondary,
.oran_but:focus,
.outlin_oran_but:hover,
.oran_bg,
.btn-secondary {
  background-color: #FF663E;
}

.bg-lite-secondary,
.lite_oran_bg {
  background-color: #F8EDEA;
}

.bg-dark-secondary,
.offcan_but:hover,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: #f94b20;
}

.bg-dark {
  background-color: #111111;
}

.bg-dark-lite {
  background-color: #333333;
}

.bg-hero-block {
  background-color: #0c326d;
}

.bg-lite,
.oran_but,
.remo_inter_but {
  background-color: #ffffff;
}

.bg-tags-grey {
  background-color: #DCE4EB;
}

.bg-grey-lite,
.lite_grey_bg {
  background-color: #F6F8F9;
}

.bg-success {
  background-color: #51d201;
}

.bg-danger,
.remo_inter_but:hover {
  background-color: #CC3300;
}

.text-primary,
.primary_tex,
.outlin_blue_but {
  color: #0B326D;
}

.btn {
  width: 200px;
  height: 60px;
  font-weight: bold;
  border-radius: 0;
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background: #0B326D;
  color: #ffffff;
  border: none;
}

.btn-primary:hover {
  background: #0B2A5A;
  border: none;
}

.btn-lite {
  background: #ffffff;
  color: #111111;
}

.btn-secondary:hover {
  transition: 0.5s;
}

.btn-sm {
  height: 50px;
  line-height: 40px;
}

.btn-addon {
  width: auto;
}

.primary-border,
.primary_border {
  border: 1px solid #0B326D;
}

@media screen and (max-width: 648px) {
  .btn-subscribe {
    width: auto;
  }

  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  .btn-sm {
    height: 50px;
  }
}

.blue_box_hei {
  padding-top: 200px;
  min-height: 100vh;
}

.white_box_hei {
  padding-top: 120px;
  min-height: 100vh;
}

.lite_blue {
  border: none;
  border-radius: 0 0 80px 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.offcan_but:hover {
  transition: 0.5s;
}

.sm_tex {
  font-size: 13px;
}

.lite_blue_box {
  height: 200px;
}

.verif_tex {
  font-size: 13px;
}

.docum_sm_tex {
  font-size: 13px;
}

.display_offcan {
  display: none;
}

.display_slid {
  display: block;
}

.remo_inter_but:hover {
  transition: 0.5s;
}

.nav-item a {
  text-decoration: none;
}

.outlin_oran_but {
  border: 1px solid #FF663E;
}

.outlin_oran_but:hover {
  transition: 0.5s;
}

.outlin_blue_but {
  border: 1px solid #0B326D;
}

.outlin_blue_but:hover {
  transition: 0.5s;
}

.oran_but:focus {
  transition: 0.3s;
}

.primary-border:hover,
.primary_border:hover {
  transition: 0.5s;
}

.bulletlist {
  width: 36px;
  height: 36px;
  font-weight: normal;
  padding: 2px 13px 2px 13px;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  font-size: 18px;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

html,
body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #F6F8F9;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1640px;
}

.icon-menu-sm {
  color: #333333;
  font-size: 22px;
}

.menu-sm {
  margin-top: 15px;
}

.menu-sm li a {
  display: block;
  padding: 10px 15px;
  color: #333333;
  border-bottom: 1px solid #EEEEEE;
}

.menu-sm li a:first-child {
  border-top: 1px solid #EEEEEE;
}

.menu-sm li a:hover,
.menu-sm li a.active {
  background: #FF663E;
  color: #ffffff;
  text-decoration: none;
}

.bell-sm-icon {
  width: 50px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0B326D;
  border-radius: 50%;
  color: #ffffff;
}

#notification-lg {
  max-width: 400px;
  padding: 15px;
}

.menubox {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  right: 0;
  top: 80px;
  overflow: hidden;
}

.menubox a {
  display: block;
  padding: 10px 15px;
  color: #333;
}

#usermenu-lg {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  right: 0;
  top: 80px;
  overflow: hidden;
}

#usermenu-lg li a {
  display: block;
  padding: 8px 15px;
  color: #111111;
  min-width: 180px;
}

#usermenu-lg li a:hover {
  background-color: #FF663E;
  color: #ffffff;
  text-decoration: none;
}

#usermenu-lg li a:hover i {
  color: #ffffff;
}

.hdr-srch .input-group {
  height: 40px;
  min-width: 300px;
}

.btn-header-sell {
  max-width: 130px;
}

.bg-transparent {
  background-color: transparent !important;
}

.radio-capsule {
  display: none;
}

.radio-capsule+label {
  cursor: pointer;
  border: 1px solid #0B326D;
  padding: 0 15px;
  border-radius: 20px;
}

.radio-capsule:checked+label {
  border-color: #FF663E;
  background-color: #FF663E;
  color: #ffffff;
}

.eventbox {
  display: grid;
  height: 100%;
}

.eventbox-thumb {
  min-height: 220px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F8F9;
}

.eventbox:hover {
  border: 1px solid #FF663E !important;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.blog-thumb {
  max-height: 200px;
  overflow: hidden;
}

section {
  overflow: hidden;
}

.input-group input:focus {
  outline: 0;
  box-shadow: none;
  border-color: #ced4da;
}

.loading {
  background-color: #ededed;
  background: linear-gradient(100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

.pagination-container {
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination {
  position: relative;
  width: 100%;
  padding-right: 0;
}

.pagination-inner>div {
  padding: 4px 10px;
  border: 1px solid #aaa;
  margin: 0 2px;
}

.pagination-inner>div:hover:not(.pagination-active) {
  color: #0B326D;
  border: 1px solid #0B326D;
}

.pagination button {
  position: relative;
  display: inline-block;
  color: #2c3e50;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0px 5px;
}

.pagination-active {
  border: 1px solid rgb(27, 73, 188);
  padding: 4px 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.pagination div:before {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #2c3e50;
  transform: scale(0);
  transition: all 0.2s;
}

.pagination-activ {
  color: white;
}

.pagination div:hover:before,
.pagination div .pagination-active:before {
  transform: scale(1);
}

.pagination .pagination-active {
  border: 1px solid rgb(27, 73, 188);
  color: white;
  background-color: rgb(27, 73, 188);
}

.pagination-newer,
.pagination-older {
  padding: 4px 6px;
  border: 1px solid #aaa;
  margin: 0;
}

.pagination-newer,
.pagination-older:hover {
  color: #0B326D;
  border: 1px solid #0B326D;
}

.pagination .pagination-active:before {
  transform: scale(1);
}

.pagination-newer {
  margin-right: 15px;
}

.pagination-older {
  margin-left: 15px;
}

.dropdown {
  width: max-content;
  z-index: 999;
}

.top-30{
  top: 30px;
}

.dropdown-item :hover,
.dropdown-item :hover i{
  background-color: #FF663E;
  color: white;
}

.rounded-top-right-1 {
  border-top-right-radius: 2rem;
}

.user_sidebar a{
  font-weight: normal !important;
  color: #000;
}

.user_sidebar a i,
.dropdown-item i{
  color: #89959E;
}
.user_sidebar a.active i{
  color: #FFF;
}

.loader {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  margin: 0 auto;
  transform: rotate(-45deg);
  font-size: 0;
  line-height: 0;
  animation: rotate-loader 5s infinite;
  border: 1px solid #FF663E;
}

.loader .loader-inner {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 50%;
}

.loader .loading {
  position: absolute;
  background: #FF663E;
}

.loader .one {
  width: 100%;
  bottom: 0;
  height: 0;
  animation: loading-one 1s infinite;
}

.loader .two {
  width: 0;
  height: 100%;
  left: 0;
  animation: loading-two 1s infinite;
  animation-delay: 0.25s;
}

.loader .three {
  width: 0;
  height: 100%;
  right: 0;
  animation: loading-two 1s infinite;
  animation-delay: 0.75s;
}

.loader .four {
  width: 100%;
  top: 0;
  height: 0;
  animation: loading-one 1s infinite;
  animation-delay: 0.5s;
}

@keyframes loading-one {
  0% {
    height: 0;
    opacity: 1;
  }

  12.5% {
    height: 100%;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes loading-two {
  0% {
    width: 0;
    opacity: 1;
  }

  12.5% {
    width: 100%;
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes rotate-loader {
  0% {
    transform: rotate(-45deg);
  }

  20% {
    transform: rotate(-45deg);
  }

  25% {
    transform: rotate(-135deg);
  }

  45% {
    transform: rotate(-135deg);
  }

  50% {
    transform: rotate(-225deg);
  }

  70% {
    transform: rotate(-225deg);
  }

  75% {
    transform: rotate(-315deg);
  }

  95% {
    transform: rotate(-315deg);
  }

  100% {
    transform: rotate(-405deg);
  }
}


.card-loader {
  width: 24%;
  height: 400px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
}

.blog-loader {
  display: flex;
  flex-direction: row;
  height: 300px;
  flex-basis: 18%;
}

.blog-card {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  height: 300px;
  flex-basis: 19%;
}

.blog-wrapper {
  padding: 0px !important;
  display: flex;
  justify-content: space-around;
}

.image {
  margin-top: 10px;
  height: 200px;
}

.content {
  padding: 2rem 1.8rem;
}

.loading .image,
.loading h4,
.loading .description,
.loading .title {
  background-color: var(--loading-grey);
  background: linear-gradient(100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: .05s;
}

.loading .description {
  min-height: 3rem;
  border-radius: 4px;
  animation-delay: .06s;
}

.pill {
  height: 2.5rem;
  border-radius: 1.5rem;
  margin: 0 10px;
  width: 10rem;
}

.loading .title {
  min-height: 2rem;
  border-radius: 4px;
  animation-delay: .06s;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

#header-search {
  min-width: 10rem;
  transition: min-width .5s ease
}

#header-search:focus,
#header-search:hover {
  min-width: 15rem;
}

.pill-hover label {
  padding: 0.2rem 0.8rem;
  font-size: 14px;
}

.pill-hover label:hover {
  border: none;
  border: 1px solid white;
}

.pill-hover:hover,
.pill-active {
  background-color: #FF663E;
  color: white;
  border-radius: 20px;
}
.pill-active .radio-capsule+label{
  border: none;
}


.link-hover span {
  padding: 3px;
  font-size: 17px;
  transition: color .1s ease
}

.link-hover span:hover {
  color: #FF663E;
}

* {
  box-sizing: border-box;
}

.block-container {
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-start;
  align-items: center;
}

.box {
  max-width: 600px;
  width: 1200px;
  padding: 0 15px;
}

.skeleton {
  padding: 15px;
  height: 250px;
  width: 70vw;
  height: 400px;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

.skeleton .square {
  height: 350px;
  width: 350px;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}

.skeleton .line {
  height: 35px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}

.skeleton-right {
  flex: 1;
}

.skeleton-left {
  flex: 2;
  padding-right: 15px;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
  height: 100%;
  padding: 30px 0;
}

.skeleton .line:last-child {
  margin-bottom: 0;
}

.h8 {
  height: 20px !important;
}

.h10 {
  height: 10px !important;
}

.h12 {
  height: 12px !important;
}

.h15 {
  height: 15px !important;
}

.h17 {
  height: 40px !important;
}

.h20 {
  height: 20px !important;
}

.h25 {
  height: 25px !important;
}

.w25 {
  width: 25% !important
}

.w40 {
  width: 40% !important;
}

.w50 {
  width: 50% !important
}

.w75 {
  width: 75% !important
}

.m10 {
  margin-bottom: 70px !important;
}

@keyframes wave-lines {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@keyframes wave-squares {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@keyframes sway {
  0% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(8deg);
  }
}

.object {
  position: absolute;
  animation: sway 2.4s infinite;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  left: 0;
  right: 0;
  height: 5%;
  z-index: 999;
  text-transform: uppercase;
}

.object-shape {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  background-color: #FF663E;
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-align: center;
  padding-top: 25px;
  font-weight: 800;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.object-shape span {
  font-size: 22px;
  color: white;
}

.object-rope {
  height: 100%;
  width: 5px;
  background-color: #FF663E;
  content: "";
  display: block;
  margin-left: 50%;
}

.rope-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 500px;
  padding: 35vh 20px 20px 20px;
}

.logo {
  max-width: 300px;
}

p {
  font-family: sans-serif;
  /* text-align: center; */
}

.message {
  margin-top: 40px;
}

.plain-button {
  all: unset;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */

.eventpage-thumbicon {
  background-color: #F6F8F9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eventpage-thumbicon img {
  max-width: 100px;
  max-height: 100px;
}

.eventpage-eventinfo p {
  font-size: 14px;
  color: #111;
  margin-top: 10px !important;
}

.carousel {
  position: relative;
}

.carousel-item img {
  object-fit: cover;
}

#carousel-thumbs {
  background: rgba(255, 255, 255, .3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}

#carousel-thumbs img:hover {
  border-color: rgba(255, 255, 255, .3);
}

#carousel-thumbs .selected img {
  border-color: #fff;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.carousel-scroll {
  display: flex;
  overflow-x: scroll;
}

.carousel-scroll {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.carousel-scroll::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.tab-list>li>button {
  color: #FF663E;
}

.tab-list>li>button[aria-selected="true"] .tab-list>li>button {
  background-color: #FF663E;
}

.tab-list>li>button :hover .tab-list>li>button {
  color: #FF663E;
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}

@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}

@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}

.accent-checkbox {
  accent-color: #FF663E;
}

.asset_but {
  color: white;
  background-color: #0B326D;
}

.w-inherit {
  width: inherit;
}


.heart-circle {
  background: #fff;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  line-height: 50px;
  line-height: 25px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

div[name="sellingFor"],
div[name="adjudicatingAuthority"] {
  cursor: pointer;
}


ul#progressbar li {
  display: inline-block;
  margin: 0 160px;
  font-size: 20px;
}

ul#progressbar li div {
  position: relative;
  z-index: 999;
}

ul#progressbar li .active {
  color: #F94B20;
  position: relative;
  z-index: 9999;
}

.pregress_num {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  background-color: #C6D5E1;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.done .pregress_num,
.active>.pregress_num {
  background-color: #F94B20 !important;
}

.bg-bisque {
  background-color: bisque;
}

/* ul#progressbar li:nth-child(1):after {
  content: " ";
  width: 100%;
  border: 0 solid #000;
  max-width: 380px;
  height: 10px;
  display: block;
  position: absolute;
  margin-top: -80px;
  margin-left: 70px;
  background: #F94B20;
  z-index: 0;
} */



ul#progressbar li:nth-child(2):before {
  content: " ";
  width: 100%;
  border: 0 solid #000;
  max-width: 440px;
  height: 10px;
  display: block;
  position: absolute;
  margin-top: 25px;
  margin-left: -380px;
  background: #C6D5E1;
  z-index: 0;
}

ul#progressbar li:nth-child(3):before {
  content: " ";
  width: 100%;
  border: 0 solid #000;
  max-width: 440px;
  height: 10px;
  display: block;
  position: absolute;
  margin-top: 25px;
  margin-left: -380px;
  background: #C6D5E1;
  z-index: 0;
}

ul#progressbar li.done:before,
ul#progressbar li.active:before {
  content: " ";
  background: #F94B20;
}

.vinput input {
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #707070;
}

.errmsg {
  position: relative;
  top: -13px;
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

div#myCarousel {
  height: 420px;
  overflow: hidden;
}

div#myCarousel img {
  height: 420px;
  width: auto;
}

.carousel-scroll .thumb {
  height: 60px;
  margin: 10px 3px;
  overflow: hidden;
  padding: 0 !important;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid #fff;
}

.carousel-scroll .thumb img,
#carousel-thumbs img {
  border: none;
}

/* .navLink-div:hover {
  background-color: #FF663E;
  color: white;
} */

.user_sidebar a:hover {
  background: #f5f5f5;
}

.notification-image {
  width: 50px;
  padding: 0px;
}

.notification-button:hover {
  background-color:FF663E;
  accent-color: #FF663E;
  border: 0px;


}

.profile-background{
  padding-right: 2rem;
    padding-left: 2rem;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    flex: 0 0 auto;
    width: 75%;


  margin-right: 100px;
  width: -1000px;
  height: -1000px;
  background-color: rgba(200, 200, 200);
  position: absolute;
  justify-content: center;
  align-items: center;
}

.pagination-container{
  margin: 25px auto;
}

.css-13cymwt-control{
  border-radius: 0 !important;
  border: 1px solid #000 !important;
  height: 45px !important;
}

.css-13cymwt-control:focus
.css-13cymwt-control:active {
  outline: 0;
  border: none;
}

.carousel-control-prev, .carousel-control-next {
  width: 50px;
  background: rgba(0,0,0,0.3);
  height: 50px;
  top: 50%;
   /* border-radius: 50%;*/
}

.carousel-dark .carousel-control-prev-icon, .carousel-dark .carousel-control-next-icon {
  filter: invert(0) grayscale(100);
}

.dd-notification{
  max-width: none;
  width: 350px;
}

.dd-notification li:hover {
  background: #fff3f0;
}

.popover-body {
  padding: 0 !important;
}

button.notification-button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background: #fff;
  font-weight: bold;
}

.btn-header-sell{
  height: 40px;
  max-width: 120px;
  font-size: 18px;
}

a#brandlogo img {
  max-height: 60px;
}

.banner_img {
  max-height: 200px;
}

.btn-viewall{
  max-width: 150px;
  height: 50px;
  font-weight: normal;
  border-radius: 2px;
  font-size: 18px;
}
.profile-background{
  padding-right: 2rem;
    padding-left: 2rem;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    flex: 0 0 auto;
    width: 75%;


  margin-right: 100px;
  width: -1000px;
  height: -1000px;
  background-color: rgba(200, 200, 200);
  position: absolute;
  justify-content: center;
  align-items: center;
}
.my-card {
  position:absolute;
  right: 40%;
  top: -20px;
  border-radius: 50%;

}
.card{
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
  overflow: visible
}


.cardimg{
  padding-left: 120px;

}
.cardtext{
  text-align: right;
  line-height: 1.25;
  opacity: 1;
  background: transparent;
  color: rgb(52, 71, 103);
  box-shadow: none
}




.whitebox{
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
  border-radius: 25px;
}
.bidimg{
  padding-top: 0;
  align-items: center;
  padding-bottom: 5px ;
}

.dashbtn{
  background-color: navy;
  color: white;
  border-color: 0;

}

.commanbtn{
  font-weight: bold;
  background-color: #FFF;
  margin: 0;
  color:  #FF663E;
  border-color:  #FF663E;

}

.sideicon{
position: absolute;
padding-left: 10px;
color: #FF663E;
background-color: white;
border: white;

}

.dashchart{
  margin-right: 10px;

position: absolute;
padding-top:15px ;
padding-left: 15px;
padding-bottom: 20px;
height: 400px;
 width: 620px;

 color: white;
 transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
 display: flex;
 flex-direction: column;
 position: relative;
 min-width: 0px;
 overflow-wrap: break-word;

 background-color: rgb(224, 191, 184);
 background-clip: border-box;
 border: 0px solid rgba(0, 0, 0, 0.125);
 border-radius: 0.75rem;

 overflow: visible;
box-shadow:100px;
}


.dashchart2{
  position: absolute;

  margin-left: 10px;
  padding-top:15px ;
  padding-left: 15px;
  padding-bottom: 20px;
   width: 620px;
   height: 400px;
   color: black;
   transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
   display: flex;
   flex-direction: column;
   position: relative;
   min-width: 0px;
   overflow-wrap: break-word;

   background-color: white;
   background-clip: border-box;
   border: 0px solid rgba(0, 0, 0, 0.125);
   border-radius: 0.75rem;

   overflow: visible;
  box-shadow:100px;
  }



.roundbtn{
 margin-left: 15px;
  width: 50px;
  height: 50px;
  position: relative;
    box-sizing: border-box;
   vertical-align: middle;
    border: 2px solid rgb(244, 67, 53);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 150ms ease-in 0s;
    background-color: transparent;
    color: rgb(244, 67, 53);
    border-radius: 50%;
    padding: 0.6875rem 0.6875rem 0.625rem;



}
.roundbtn2{
  margin-left: 15px;
  width: 50px;
  height: 50px;
  position: relative;
    box-sizing: border-box;
    vertical-align: middle;
    border: 2px solid #4CAF50;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 150ms ease-in 0s;
    background-color: transparent;
    color:  #4CAF50;
    border-radius: 50%;
    padding: 0.6875rem 0.6875rem 0.625rem;


}

.roundbtn3{
  margin-left: 15px;
  width: 50px;
  height: 50px;
  position: relative;
    box-sizing: border-box;
    vertical-align: middle;
    border: 2px solid gray;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 150ms ease-in 0s;
    background-color: transparent;
    color: gray;
    border-radius: 50%;
    padding: 0.6875rem 0.6875rem 0.625rem;


}
.roundbtn4{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  border: 2px solid gray;
margin-left: 550px;
margin-bottom: 10px;
 background: rgb(255, 255, 255);
  color: rgb(52, 71, 103);
  border-radius: 50%;

}
.money{
  margin-left:150px;
  font-size: larger;
  color: rgb(244, 67, 53);
  font-weight:bold
}

.money2{
  margin-left:150px;
  font-size: larger;
  color:  #4CAF50;
  font-weight:bold
}

.money3{

  margin-left:150px;
  font-size: larger;
  color:  gray;
  font-weight:bold
}



